html {
    background-color:black;
    text-align: center;
     }
  
:any-link {
         text-decoration: none;
          }
  
  .Kopf {
      margin-left: 0px auto;
      margin-right: 0px auto;
      text-align: left;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .Titel {
    color:	#8b4500;
    font-family: Arial;
    font-size: 4em;
    margin-left: 0.5em;
  }
  
  .Bild {
    border: 0.1em;
    height: 10em;
    width: 10em;
  }

  .Verzeichnis {
    color:	#8b4500;
    font-family: Arial;
    font-size: 2.5em;
    margin: auto;
    margin-top: 1em;
   }
   
   .Verzeichnis-Inhalt{
    color:	#8b4500;
     font-family: Arial;
     font-size: 2em;
     margin-top: 0 auto;
     margin-top: 0.5em;
   }

   .Meldung{
     color: #8b4500;
     font-family: Arial;
     font-size: 1em;
     margin-top: 3em;
     margin: auto;
   }

   .Meldung2 {
    color: #8b4500;
    font-family: Arial;
    font-size: 1em;
    margin: auto;
   }

   .Version {
     color: #8b4500;
     font-family: Arial;
     font-size: 1em;
     margin-top: 1em;
     margin: auto;
   }




   